html {
    font-size: 14px;
    font-family: LXGW WenKai TC;
    background-color: #e4cccb;
}

h1 {
    font-size: 40px;
    text-align: center;
    
}

body {
    width: 600px;
    margin: 0 auto;
    padding: 0 100px 100px 100px;
}

img {
    display: block;
    margin: 0 auto;
}


